@model List<ViewModel>

<div class="bg-light my-height container">
    <br />
    <h4>Eksplorator plików</h4>
    <br /><br />
    <p>D:/Aktualny folder</p>
    <table class="table table-bordered">
        <tr>
            <th>
                Rodzaj
                <div class="my-div-sort">
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="Type">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="TypeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Nazwa
                <div class="my-div-sort">
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="Name">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="NameDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Data modyfikacji
                <div class="my-div-sort">
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="Modification">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="ModificationDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Rozmiar (B)
                <div class="my-div-sort">
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="Size">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="SizeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Atrybuty
                <div class="my-div-sort">
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="Attribute">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-controller="Explorer" asp-route-sort="AttributeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
        </tr>
        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @if (obj.Type == "folder")
                    {
                        <img src="~/image/folder.png" class="my-img" />
                    }
                    else
                    {
                        <img src="~/image/file.png" class="my-img" />
                    }
                </td>
                <td>
                    @if (obj.Type == "folder")
                    {
                        <a asp-action="Index" asp-controller="Explorer" asp-route-path="@obj.Name">@obj.Name</a>
                    }
                    else
                    {
                        @obj.Name
                    }
                </td>
                <td>@obj.ModificationDate</td>
                <td>
                    @if (obj.Type != "folder")
                    {
                        @obj.Size
                    }
                </td>
                <td>@obj.Attribute</td>
            </tr>
        }


    </table>
</div>