@model List<ViewModel>

<div class="bg-light my-height container">
    <br />
    <h4>Eksplorator plików</h4>
    <br /><br />
    <p>Tu powinien być link : @ViewBag.MyNewPath</p>
    <table class="table table-bordered">
        <tr>
            <th>
                Typ
                <div class="my-div-sort">
                    <a asp-action="Index" asp-route-sort="Type">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-route-sort="TypeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Nazwa
                <div class="my-div-sort">
                    <a asp-action="Index" asp-route-sort="Name">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-route-sort="NameDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Data modyfikacji
                <div class="my-div-sort">
                    <a asp-action="Index" asp-route-sort="Modification">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-route-sort="ModificationDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Rozmiar (KB)
                <div class="my-div-sort">
                    <a asp-action="Index" asp-route-sort="Size">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-route-sort="SizeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>
                Atrybuty
                <div class="my-div-sort">
                    <a asp-action="Index" asp-route-sort="Attribute">
                        <img src="~/image/sortAscending.png" title="Sortuj rosnąco" class="my-img-sort" />
                    </a>
                    <a asp-action="Index" asp-route-sort="AttributeDescending">
                        <img src="~/image/sortDescending.png" title="Sortuj malejąco" class="my-img-sort" />
                    </a>
                </div>
            </th>
            <th>Akcja</th>
        </tr>
        @if (ViewBag.Root != "rootFolder")
        {
            <tr>
                <td>
                    <img src="~/image/folder.png" class="my-img" />
                </td>
                <td>
                    <a asp-action="Index" asp-route-navigation="up">...</a>
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        }

        @foreach (var obj in Model)
        {
            <tr>
                <td>
                    @if (obj.Type == "folder")
                    {
                        <a asp-action="Rename" asp-route-oldName="@obj.Name"><img src="~/image/folder.png" class="my-img" /></a>
                    }
                    else
                    {
                        <a asp-action="Rename" asp-route-oldName="@obj.Name"><img src="~/image/file.png" class="my-img" /></a>
                    }
                </td>
                <td>
                    @if (obj.Type == "folder")
                    {
                        <a asp-action="Index" asp-route-path="@obj.Name">@obj.Name</a>
                    }
                    else
                    {
                        <a asp-action="Index" asp-controller="FileOperate" asp-route-name="@obj.Name">@obj.Name</a>
                    }
                </td>
                <td>@obj.ModificationDate</td>
                <td>
                    @if (obj.Type != "folder")
                    {
                        @obj.Size
                    }
                </td>
                <td>@obj.Attribute</td>
                <td>
                    <a asp-action="Delete" asp-route-oldName="@obj.Name"><img src="~/image/trash.png" class="my-img" /></a>
                    @if (obj.Type != "folder")
                    {
                        <a asp-action="DownloadFile" asp-route-name="@obj.Name"><img src="~/image/download.png" class="my-img" /></a>
                    }
                </td>
            </tr>
        }

    </table>
</div>